<div class="mpinLists" >
	<ul id="mpin_accounts_list">
	</ul>
</div>

<div class="mpinBtnBox">
	<div class="mpinButton mpinBtnClick" id="mpin_add_identity">
		{{txt "account_button_add"}}
	</div>
	
	{{#if data.mobileSupport }}
		<div class="mpinButton mpinMobileBtn mpinBtnClick" id="mpin_phone">
			{{txt "signin_button_mobile"}}
		</div>
	{{/if}}
	
</div>