<div class="mpinHeader">
    <div class="mpinLogo mpPointer"></div>
	<div class="mpinHome mpPointer"></div>
</div>

<div class="mpinMain mpinPinpad mpinAnimateIn" id="mpin_pinpad">
    <div class="mpinIdentityRow">
        <div class="mpinIdentity mpLeft20 mpinIdentityGradient" id="mpinUser">
            <!-- Place the identities inside -->
            <div class="mpinArrowDown mpPointer" id="mpin_arrow">
				<div class="mpinArrowImg"></div>
			</div>

            <div id="mpinCurrentIden">
				<div class="mpinIdentityLabel">login as:</div>
				<div class="mpinIdentityTitle">loGgedIden@certivox.com</div>
			</div>

            <div id="mpin_identities" class="mpinMain mpinAnimateIn mpZero">
            </div>
        </div>

    </div>

    <div id="pinpadEls">
	
		<div class="mpinInput" id="mpin_input_parent">
			<div class="mpinInputIn mpHide" id="mpin_input_circle">
				<div class="mpinCircle" id="mpin_circle_1">
					<div class="mpinCircleOut"></div>
				</div>
				
				<div class="mpinCircle" id="mpin_circle_2">
					<div class="mpinCircleOut"></div>
				</div>
				<div class="mpinCircle" id="mpin_circle_3">
					<div class="mpinCircleOut"></div>
				</div>
				<div class="mpinCircle" id="mpin_circle_4">
					<div class="mpinCircleOut"></div>
				</div>
			</div>
			
			<div class="mpinInputIn mpin70width" id="mpin_input_text">
				<i id="mpin_help_pinpad"></i>
				<span class="mpinInputText mpinInputTop" id="mpin_inner_text">      
					Initializing...
				</span>
			</div>
		</div>
		
		<div class="mpin-pre-row">
			<div class="mpin-row">
				<button class="mpinPadBtn" data-value="1">
					1
				</button>
				<button class="mpinPadBtn" data-value="2">
					2
				</button>
				<button class="mpinPadBtn" data-value="3">
					3
				</button>
			</div>
		</div>
		<div class="mpin-pre-row">
			<div class="mpin-row">
				<button class="mpinPadBtn" data-value="4">
					4
				</button>
				<button class="mpinPadBtn" data-value="5">
					5
				</button>
				<button class="mpinPadBtn" data-value="6">
					6
				</button>
			</div>
		</div>
		<div class="mpin-pre-row">
			<div class="mpin-row">
				<button class="mpinPadBtn" data-value="7">
					7
				</button>
				<button class="mpinPadBtn" data-value="8">
					8
				</button>
				<button class="mpinPadBtn" data-value="9">
					9
				</button>
			</div>
		</div>
		<div class="mpin-pre-row">
			<div class="mpin-row mpin-bottom">
				<button class="mpinPadBtn2 mpinBtnDisabled" data-value="clear" id="mpin_clear">
					clear
				</button>
				<button class="mpinPadBtn" data-value="0">
					0
				</button>
				<button class="mpinPadBtn2 mpinBtnDisabled" data-value="go" id="mpin_login">
					login
				</button>
			</div>
		</div>
    </div>
</div>


<div class="mpinFooter">
	<div class="mpinPowered"></div>
	<div class="mpinHelpHub"></div>
</div>