<div class="mpinHeader">
    <div class="mpinLogo"></div>
	<div class="mpinHome mpPointer" id="mpin_home"></div>
</div>

<div class="mpinMain">
	<div class="mpErrorIcon">
	</div>
	<div class="mpinCenter mpinCenter5">
		<p class="mpinJustifyTxt">
			{{{data.errorMsg}}}
		</p>
		
		<div class="mpErrorNumber">
			{{txt "error_page_error"}} <b>{{data.errorCode}}</b>
		</div>
	</div>
	
	<div class="mpinBtnBox mpNoPadding">
		<div class="mpinButton mpinBtnClick mpinBtnBack" id="mpin_cancel">
			{{txt "error_page_button"}}
		</div>
	</div>
</div>
<div class="mpinFooter">
	<div class="mpinPowered"></div>
	<div class="mpinHelpHub"></div>
</div>