<div id="buttonsContainer">
    <div class="mpinBtn mpinGreenBtn" id="mpin_mobile">
        <span class="btnLabel">
			<span class="mpinBold">{{txt "signin_btn_mobile1"}}</span>
			{{txt "signin_btn_mobile2"}}
		</span>
    </div>
</div>
<div class="mpinCenterTxt">
	{{txt "home_txt_between_btns"}}
</div>