<!-- Home/Top Nav Bar -->

<div id="mp_accountListView" class="PinPadListViewSkin notActive">
    <div class="mp_customScrollBox">
        <div class="mp_container">
            <div id="mp_accountContent" class="mp_content"></div>
        </div>
    </div>
</div>

<div id="buttonsContainer">

    <div class="mpinBtn white" id="mp_go_back">
          <span class="btnLabel">Go back</span>
    </div>

</div>