<div id="identityContainer">

  <div class="identityMainText">
    <div class="mp_container">
        <div class="mp_headerFrame">
            <div class="mp_alertTitle">
                {{hlp 'account_delete_question'}}
            </div>
            <div class="mp_accountField">
                {{data.name}}
            </div>
        </div>
    </div>
  </div>

  <div id="buttonsContainer">

      <div class="mpinBtn danger" id="mp_acclist_deluser">
            <span class="btnLabel">{{hlp 'account_delete_button'}}</span>
      </div>

      <div class="mpinBtn white" id="mp_acclist_cancel">
            <span class="btnLabel">{{hlp 'account_button_cancel'}}</span>
      </div>

  </div>

</div>

<footer id="mpinFooter">
    <div id="homeBtn">
    </div>
</footer>