<div id="list">
	<h1>M-Pin Help hub</h1>

	<ul>
		<li><a id="first" href="#">What is the difference between signing in with the browser or with Smartphone?</a></li>
		<li><a id="second" href="#">Which is the most secure method to sign in?</a></li>
		<li><a id="details" href="#">What details will I need to provide?</a></li>
		<li><a id="forth" href="#"> Who can see my identity?</a></li>
	</ul>

	<button id="exit">Exit Help Hub and return to the previous page</button>
</div>