<p>This is the help hub</p>

<div id="buttonsContainer">
    <div class="mpinBtn green" id="ok_dismiss">
        <span class="btnLabel">{{hlp 'help_ok_btn'}}</span>
    </div>
    <div class="mpinBtn grey" id="show_more">
        <span class="btnLabel">{{hlp 'help_more_btn'}}</span>
    </div>
</div>