<div id="list">
	<h1>What details will I need to provide?</h1>

	<p>
		You will simply need to provide an <red>[email address]</red> in order to set up your identity. You will receive an activation email to complete the set up process.
	</p>

	<p>
		You will also need to create a PIN number, this will be a secret <red>[4 digit]</red> code known only to you which you will use login to the service.
	</p>

	<button id="return">Return to Help Hub</button>
</div>