<header id="header">
    <div id="mpinLogo"></div>
</header>
<div id="homeIcon">
    <div id="mobileIcon"></div>
</div>
<div id="buttonsContainer">
    <div class="mpinBtn" id="mpin_authenticate">
        <span class="btnLabel">{{hlp 'home_button_authenticateMobile'}}</span>
    </div>
    <div class="mpinBtn" id="getPassword">
        <span class="btnLabel">Get One-Time Password</span>
    </div>
    <div class="mpinBtn" id="deviceIdentity">
        <span class="btnLabel">{{hlp 'home_button_setupMobile'}}</span>
    </div>
    
</div>
<footer id="mpinFooter">
    <div id="homeBtn"></div>
</footer>