<header id="header">
    <div id="mpinLogo"></div>
</header>
<div id="homeIcon">
    <div id="mobileIcon"></div>
</div>
<div id="buttonsContainer">
	<h1>{{hlp 'home_button_authenticateMobile_intro'}}</h1>
    <div class="mpinBtn green" id="mpin_authenticate">
        <span class="btnLabel">{{hlp 'home_button_authenticateMobile_noTrust'}}</span>
    </div>
    <h2>or</h2>
    <div class="mpinBtn" id="mpin_authenticate">
        <span class="btnLabel">{{hlp 'home_button_authenticateMobile_trust'}}</span>
    </div>
</div>

<footer id="mpinFooter">
    <div id="homeBtn"></div>
</footer>