<!-- User section -->

<header id="header">
  <div id="mpinLogo"></div>
</header>

<!-- Input button -->

<div id="identityContainer">

  <div class="identityMainText">
      <div class="congrats">
        {{hlp 'mobile_splash_text'}}
      </div>
      
      <div class="congrats">
        {{hlp 'mobile_add_home_ios7'}}
        <img src='{{img 'ios7-share.png'}}'/>
        <p>{{hlp 'mobile_add_home_ios'}}</p>
      </div>
  </div>
</div>

<footer id="mpinFooter">
    <div id="homeBtn">
    </div>
</footer>