<!-- User section -->

<header id="header">
  <div id="mpinLogo"></div>
</header>

<!-- Input button -->

<div id="identityContainer">

  <div class="identityMainText">
      <div class="congrats">
        The app is offline
      </div>
      
  </div>

</div>

<footer id="mpinFooter">
    <div id="homeBtn">
    </div>
</footer>