<!-- Home/Top Nav Bar -->

<header id="topNav">
    <div id="mp_action_home">
    </div>
    <div id="logo">
    </div>
</header>

<!-- User section -->

<div id="identityContainer">
  <div class="headerText">
      <h2>{{hlp 'otp_expired_header'}}</h2>
  </div>

  <div id="bottomBtnHolder">
      <button class="mpinBtn" id="mpin_login_now">
          <span class="btnLabel">{{hlp 'otp_expired_button_home' }}</span>
      </button>
  </div>
  
</div>

<footer id="mpinFooter">
    <div id="mpinLogo">
    </div>

    <div id="poweredBy">
    </div>
</footer>