<!-- Home/Top Nav Bar -->

<header id="topNav">
    <div id="mp_action_home">
    </div>
    <div id="logo">
    </div>
</header>

{{!-- Identity text --}}

<div id="addIdentity">
  <div class="identityHeader">{{hlp 'otp_signin_header' }}</div>
</div>

<!-- User section -->

<div id="identityContainer">
  <div class="mp_headerFrame" id="otpContainer">
      <h2>{{hlp 'otp_text1' }}</h2>
      <div id="mpinOTPNumber" class="mp_alertTitle">
      </div>
  </div>

  <div class='mpinTimerBox'>
    <canvas id="mpTimer" width="41" height="41"></canvas>
    <span class="mpLeftTime" id="mpin_seconds">35</span>
  </div>

  <div id="bottomBtnHolder">
      <button class="mpinBtn" id="mpin_cancel">
          <span class="btnLabel">{{hlp 'mobileGet_button_back' }}</span>
      </button>
  </div>
  
</div>

<footer id="mpinFooter">
    <div id="mpinLogo">
    </div>

    <div id="poweredBy">
    </div>
</footer>