<!-- Home/Top Nav Bar -->

<header id="topNav">
    <div id="mp_action_home">
    </div>
    <div id="logo">
    </div>
</header>

<!-- Input button -->

<div id="identityContainer">

  <div class="identityMainText">
      <div class="congrats">
        {{hlp 'success_header'}}
      </div>

      <div class="identityBodyText">
          <p>
              {{hlp 'success_text'}}
                  <span class="mp_accountField">
                      {{data.email}}
                  </span>
          </p>
          <p>
      </div>
  </div>

  <div id="buttonsContainer">
      <div class="mpinBtn" id="mp_action_logout">
          <span class="btnLabel" id="btnLabelText">{{hlp 'logout_btn'}}</span>
      </div>
  </div> 

</div>

<footer id="mpinFooter">
    <div id="homeBtn">
    </div>
</footer>