<!-- User section -->

<header id="header">
  <div id="mpinLogo"></div>
</header>

<!-- Input button -->

<div id="identityContainer">

  <div class="identityMainText">
      <div class="infoSmall">
        {{hlp 'embedded_header'}}
        <p>{{hlp 'embedded_p1'}}</p>
        <p>{{hlp 'embedded_p2'}}</p>
      </div>
  </div>
</div>

<footer id="mpinFooter">
    <div id="homeBtn">
    </div>
</footer>